/* Estilos generales */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  
  
  img {
    max-width: 100%;
  }
  
  /* Estilos de la sección de productos */
  .productos {
    margin: 2rem auto;
    max-width: 800px;
  }
  
  .productos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .productos li {
    background-color: #000000;
    border: 1px solid #000000;
    flex-basis: 30%;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    text-align: center;
  }
  
  .productos h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .productos p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .agregar-carrito {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .agregar-carrito:hover {
    background-color: #3e8e41;
  }
  
  /* Estilos de la sección de carrito */
  .carrito {
    margin: 2rem auto;
    max-width: 800px;
  }
  
  .carrito table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .carrito th, .carrito td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
  }
  
  .carrito th {
    background-color: #f5f5f5;
  }
  
  .carrito td:nth-child(2), .carrito td:nth-child(4) {
    font-weight: bold;
  }
  
  .carrito tfoot td {
    font-weight: bold;
  }
  
  #formulario {
    margin-top: 2rem;
  }
  
  #formulario label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  #formulario input {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
  }



  .boton1{
    text-align: center;
    
}
  

.boton1 button{
    height: 50px;
    background: rgb(185, 31, 18);
    transition: background .15s ease-in-out;
    border-radius: 30px;
    
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
    padding: 2px;
}



.texto111{
    background: rgb(0, 0, 0);

    
}